@import "tailwindcss";

@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-custom-gray: #9c9c9c;
  --color-custom-gray-light: #F9F9F9;
  --color-custom-gray-dark: #D2D2D2;
  --color-custom-blue-light: #007AD2;
  --color-custom-blue: #0E6AAD;
  --color-custom-navy: #003962;
  --color-custom-green: #23B520;
  --color-custom-green: #23B520;
  --color-custom-green-light: #2ccc29;;

}

html,
body {
  /* @apply bg-white; */
  font-family: var(--font-sans);
  /* background-color: #2ccc29; */
  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
